@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

.btn-primary {
    @apply bg-pink-200
    text-pink-900
    px-4
    py-1
    border
    border-pink-400
    cursor-pointer
    font-bold;

    box-shadow:
        inset 1px 1px 0 #ffe4f1,
        inset -1px -1px 0 #d47aa8,
        1px 1px 0 #b85c8c;
}

.btn-primary:hover {
    filter: brightness(1.05);
}

.btn-primary:active {
    transform: translateY(1px);

    box-shadow:
        inset -1px -1px 0 #ffe4f1,
        inset 1px 1px 0 #d47aa8;
}

.form-container {
    @apply relative
    bg-pink-300
    p-6 
    border-2 
    border-pink-400;

    box-shadow:
        inset 1px 1px 0 #ffd9eb,
        inset -1px -1px 0 #c76d9a,
        2px 2px 0 #b95a89;
}

.form-element {
    @apply text-white 
    flex
    gap-1
    mb-4
    justify-between
    items-center;
}

.form-element input {
    @apply bg-pink-50
    border-2
    border-pink-300
    px-3
    py-2
    text-pink-900;

    box-shadow:
        inset 1px 1px 0 #fff,
        inset -1px -1px 0 #d47aa8,
        1px 1px 0 #c26b98;
}

.retro-popup {
    @apply fixed
    text-center

    w-70

    top-30
    left-160

    z-50

    bg-pink-100
    border-2
    border-pink-400;

    animation: popupAppear 0.15s ease-out;
}

@keyframes popupAppear {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.retro-popup-header {
    @apply bg-pink-300
    text-pink-900
    font-bold
    flex
    justify-between
    items-center
    cursor-grab

    px-2
    py-1

    m-0;

    box-shadow:
        inset 1px 1px 0 #ffd9eb,
        inset -1px -1px 0 #c76d9a,
        2px 2px 0 #b95a89;
}

.retro-popup-body {
    @apply p-4;

    box-shadow:
        inset 1px 1px 0 #fff,
        inset -1px -1px 0 #d47aa8;
}
